.mule/apps/smtpdemo/smtpdemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" basePath="mail" doc:name="HTTP Listener Configuration"/>
    <smtp:gmail-connector name="Gmail" validateConnections="true" doc:name="Gmail"/>
    <flow name="smtpdemoFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/send" doc:name="HTTP"/>
        <set-payload value="Welcome to  #[message.inboundProperties.'http.query.params'.customer],
 Happy journey from #[message.inboundProperties.'http.query.params'.from] to 
 #[message.inboundProperties.'http.query.params'.to]!" doc:name="Set Payload"/>
        <set-attachment attachmentName="#[message.inboundProperties.'http.query.params'.customer]_trip_details.txt" value="#[payload]" contentType="text/plain" doc:name="Attachment"/>
        <set-payload value="thisis the body o fthe email!" doc:name="Set Payload"/>
        <smtp:outbound-endpoint host="smtp.gmail.com" port="587" user="akbarmd.mca@gmail.com" password="May#1987" connector-ref="Gmail" to="gdskesav@gmail.com,podamahesh008@gmail.com,eswar.kaushik5@gmail.com" from="akbarmd.mca@gmail.com" subject="Mule training" responseTimeout="10000" doc:name="SMTP"/>
        <set-payload value="email sending success!" doc:name="Set Payload"/>
    </flow>
</mule>
