vmdemo1/src/main/app/vmconsumer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <flow name="vmconsumerFlow">
        <vm:inbound-endpoint exchange-pattern="one-way" path="myq1" doc:name="VM"/>
        <logger message="received message is #[payload]" level="INFO" doc:name="Logger"/>
        <file:outbound-endpoint path="K:\vmout" outputPattern="#[server.nanoTime()].txt" responseTimeout="10000" doc:name="File"/>
    </flow>
</mule>
