filedemo/src/main/app/choicedemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="choicedemoFlow">
        <file:inbound-endpoint path="E:\weekend\choice" responseTimeout="10000" doc:name="condtional"/>
        <choice doc:name="Choice">
            <when expression="#[message.inboundProperties.originalFilename.endsWith('txt')]">
                <file:outbound-endpoint path="textfiles" responseTimeout="10000" doc:name="txfiles"/>
            </when>
            <when expression="#[message.inboundProperties.originalFilename.endsWith('pdf')]">
                <file:outbound-endpoint path="pdffiles" responseTimeout="10000" doc:name="pdf"/>
            </when>
            <otherwise>
                <file:outbound-endpoint path="remaining" responseTimeout="10000" doc:name="others"/>
            </otherwise>
        </choice>
    </flow>
</mule>
