filters/src/main/app/filters.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="root" password="root" database="arju" doc:name="MySQL Configuration"/>
    <flow name="filtersFlow">
        <file:inbound-endpoint path="inbox" moveToDirectory="arch" responseTimeout="10000" doc:name="File"/>
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[select * from filter_data where file_name=#[message.inboundProperties.originalFilename]]]></db:parameterized-query>
        </db:select>
        <logger message="after selection from database #[payload.size()] is    #[payload]" level="INFO" doc:name="Logger"/>
        <expression-filter expression="#[payload.size()==0]" doc:name="Expression"/>
        <db:insert config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[insert into filter_data(file_name)values(#[message.inboundProperties.originalFilename])]]></db:parameterized-query>
        </db:insert>
        <file:outbound-endpoint path="out" responseTimeout="10000" doc:name="File"/>
        <logger message="file copied success! #[message.inboundProperties.originalFilename]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
